@import "./colors";
@import "./constants";
@import "./mixins/section";
@import "./mixins/prefixer";
@import "./mixins/flex";

html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: $bg-color;
  color: $font-color;
}

@import "./App";
$move-left-delay: .8s;
$move-right-delay: 0s;
.SectionHome__container,
.SectionOverview__container,
.SectionStats__container,
.SectionApps__container,
.SectionPartners__container {
  @include display(flex);
  width: 100%;
  transform: translate3d(0, 0, 0);
  &.left {
    transform: translate3d(-40%, 0, 0);
    transition: transform 0.8s $cubic-bezier-fast-in $move-left-delay;
  }
}

.SectionHome__container {
  transition: transform 0.8s $cubic-bezier-fast-in $move-right-delay;
}
.SectionOverview__container {
  transition: transform 0.8s $cubic-bezier-fast-in $move-right-delay;
}
.SectionStats__container {
  transition: transform 0.8s $cubic-bezier-fast-in $move-right-delay;
}
.SectionApps__container {
  transition: transform 0.8s $cubic-bezier-fast-in $move-right-delay;
}
.SectionPartners__container {
  transition: transform 0.8s $cubic-bezier-fast-in $move-right-delay;
}

.SectionHome__main,
.SectionOverview__main,
.SectionStats__main,
.SectionApps__main,
.SectionPartners__main, {
  @include flex(1 1 auto);
  width: 100%;
  padding: 20px;
}

.SectionHome__aside,
.SectionOverview__aside,
.SectionStats__aside,
.SectionApps__aside,
.SectionPartners__aside {
  @include flex(1 1 auto);
  width: 60%;
}
